<main class="contenedor">
    <h1>Recuperar contraseña</h1>
    <form  method="POST" class="default-form">
        <div class="campo">
            <label for="password">Nuevo Password</label>
            <input type="password" id="password" name="password" placeholder="Tu password" required>
        </div>
        <input type="hidden" name="token" value="{{token}}">
        <input type="submit" value="Guardar Password" class="btn btn-verde">
    </form>
</main>